{% extends "base.html" %}

{% block content %}
    <h1>Change Task</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.task_id.label }}<br>
            {{ form.task_id(size=32) }}<br>
            {% for error in form.task_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.task_status.label }}<br>
            {{ form.task_status(size=32) }}<br>
            {% for error in form.task_status.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}